#container{
	grid-template-rows: 600px;
}

.container{
	grid-template-rows: 1fr 5fr;
}

.header{
	line-height: 20px;
	margin-bottom: 35px;
}

h2{
	font-size: 22px;
	color: rgba(44,62,80,0.75);
	font-weight: bold;		
}

.text-input{
	margin-bottom: 28px;
}

.text-submit{
	font-weight: bold;
}

input:nth-child(4){
	margin-bottom: 60px;
}

textarea{
	height: 86px;
    width: 99%;
    border: none;
    border-bottom: 2px solid #5F6D7A;
    font-size:17px;
    color: rgba(44, 62, 80, 0.75);
    font-family: "Mallanna";
    resize: none;
    margin-bottom:24px;
	outline: none;
}