#container{
height: auto;
margin: auto;
}

.container{
grid-template-rows: 1fr 1fr 2fr 1fr;
}

.header{
width: 250px;
}

h2{
font-size: 22px;
color: rgba(44,62,80,0.75);
font-weight: bold;
line-height: 24px;
  letter-spacing: 0.25px;
}

#instruction{
border: 1px solid #ffffff;
margin-top: -20px;
}

#instruction p{
font-size: 17px;
color: rgba(44,62,80,0.75);
}

.form{
width: 64%;
margin: auto;
margin-top: 25px;
}

input{
  border-bottom: 2px solid #5F6D7A;
  width: 16%;
  display: inline;
  margin-right: 10%;
  font-size: 28px;
  text-align: center;
}

input:nth-child(4){
  margin-right: 0;
  margin-bottom: 59px;
}

.text-submit{
  margin-top: 20px;
  font-size: 16px;
}

#resend{
margin-top: 10px;
}

#resend button{
background-color: #ffffff;
color: rgba(44,62,80,0.75);
font-weight: bold;
}

@media (min-width: 400px){
.header{
width: 100%;
margin: auto;
}

.header h2{
text-align: center;
}

#instruction{
width: 100%;
margin: auto;
margin-top: -20px;
}

#instruction p{
text-align: center;
}
}

@media (max-width: 320px){
input{
    border: none;
      border-bottom: 2px solid #5F6D7A;
      width: 15%;
      display: inline;
      margin-right: 11%;
      font-size: 28px;
      text-align: center;
      outline: none;
}

input:nth-child(4){
      margin-right: 0;
}
}
