#container{
  height: auto;
  grid-template-rows: 310px 310px;
}

.container{
  grid-template-rows: 1fr 3fr;
}

.header{
  margin-bottom: 5px;
}

h2{
  text-align: center;
  font-size: 22px;
  color: rgba(44,62,80,0.75);
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.25px;
}

input:nth-child(1){
  margin-bottom: 28px;
}

input:nth-child(2){
  margin-bottom: 60px;
}