
li a {
    color: #fff;
}

li a:hover {
    color: initial;
}

li a:visited {
    color: inherit;
}

.ol {
    margin-top: 30px;
    line-height: 30px;
    margin-left: 20px;
    font-weight: 200;
}

.ol {
    list-style: none;
    counter-reset: item;
}

.ol li {
    counter-increment: item;
    margin-bottom: 5px;
}

.ol li:before {
    margin-right: 10px;
    content: counter(item);
    background: #fff;
    border-radius: 100%;
    color: rgb(113, 202, 153);
    ;
    width: 30px;
    text-align: center;
    display: inline-block;
}

.intro {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.noPad {
    padding: 0px;
    margin: 0px;
}

.image-holder {
    width: 100%;
    min-height: 400px;
    background-color: rgba(111, 180, 170, 1);
    background-size: cover;
    background-repeat: no-repeat;
}

.intro-content-container {
    width: 100%;
    min-height: 400px;
    background-color: #20232a;
    color: #fff;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}

.intro-content-container .particles-js-canvas-el {
    position: absolute;
}

.intro-content-container .container {
    position: relative;
}

.heading {
    font-size: 16px;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}

.heading h1 {
    margin-left: 20px;
    font-size: 18px;
}

.warning {
    font-size: 18px;
    margin-bottom: 40px;
}

.about p {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
}

.sign-buttons {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.sign-button {
    height: 50px;
    width: 200px;
    font-size: 18px;
    line-height: 50px;
    background-color: transparent;
    border: 1px solid #fff;
    margin-right: 15px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
}

.sign-button:hover {
    background-color: #fff;
    color: #71CA99;
}

.price-amount {
    color: #71CA99;
}

.signIn {
    background-color: #fff;
    color: #6FB28D;
    margin: 0px auto;
}

.rate-cotainer {
    padding: 50px 0px;
}

.rate-info {
    width: 300px;
    height: 300px;
    float: right;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    color: #71CA99;
    font-weight: bold;
    padding: 40px 20px 20px 20px;
    letter-spacing: 1.5px;
}

.rate-info>p {
    font-weight: 200;
}

.rate-info p.trans {
    font-size: 12px;
}

.rate-info h2 {
    font-size: 80px;
    margin: 0px;
    padding: 0px;
}

.rate-info p {
    margin: 0px;
    font-size: 20px;
}

.pay-goods-container {
    width: 100%;
    background-color: #82D0A5;
    float: left;
    position: relative;
    height: 100%;
}

.pay-goods {
    width: 80%;
    padding: 30px 0px 30px 20px;
    font-size: 16px;
    color: #fff;
    margin: auto;
}

.pay-goods p {
    margin: 0px;
    color: #fff;
    font-size: 25px;
}

.pay-services-container {
    width: 100%;
    background-color: rgba(111, 180, 170, 1);
    color: #fff;
    float: left;
    position: relative;
    height: 100%;
}

.pay-services {
    width: 80%;
    color: #fff;
    padding: 30px 0px 30px 20px;
    font-size: 16px;
    margin: auto;
}

.pay-services p {
    margin: 0px;
    color: #fff;
    font-size: 25px;
}

.contacts {
    background-color: #fff;
    margin: 50px 0px;
}

.icons {
    width: 100%;
    height: 70px;
    background-image: url(../assets/cards.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 25px;
}

.contact-info {
    margin: 15px;
    max-height: 100px;
    text-align: left;
    color: #2C3E50;
}

.contact-info h5 {
    margin: 0px;
    font-weight: bold;
    font-size: 12px;
}

.contact-info p {
    font-size: 18px;
    font-weight: 200;
}

.green-green {
    position: absolute;
    height: 100%;
    width: 100%;
}

.howItWorks {
    background-color: rgba(111, 180, 170, 1);
}

.howItWorks, .howItWorks .container {
    position: relative;
}

.navbar-default .navbar-toggle {
    border: 0px !important;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.navbar-toggle .icon-bar {
    width: 32px;
    height: 5px;
}

.learn-more {
    color: black;
    text-decoration: underline;
}

.learn-more:active {
    color: black;
    text-decoration: underline;
}

.learn-more:visited {
    color: black;
    text-decoration: underline;
}

.learn-more:hover {
    color: black;
    text-decoration: underline;
}

.home-card-box {
    border-radius: 100px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1), 
                -5px 0px 5px rgba(0, 0, 0, 0.1);

    background-color: #fff;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home-section-title, .home-section-title-inverse{
    color: #fff;
    text-align: center;
    margin: 50px 0px;
}

.home-section-title-inverse {
    color: #2C3E50;
}

.howitworks-part {
    max-width: 80%;
}

.whyuse-p {
    font-size: 18px;
    color: #2C3E50 !important;
}

.jumbo {
    padding: 80px 0px;
}

#whyuse {
    padding-bottom: 50px;
}

#footer-links {
    float: right;
    display: block;
    list-style: none;
}

#footer-links a { 
    color: #2C3E50 !important;
}

#footer-links a:hover { 
    color: #2C3E50 !important;
}

#footer-links a:visited { 
    color: #2C3E50 !important;
}


#footer-links li {
    float: left;
    margin-right: 20px;
}

#copy-p {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 50px;
}

.home-icon {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.icon-box {
    background-image: url('../assets/box.svg');
}

.icon-send {
    background-image: url('../assets/send.svg');
}

.icon-pay-per-click {
    background-image: url('../assets/pay-per-click.svg');
}

.accordion__body {
    background-color: #fff;
    font-size: 16px;
}

.faq {
    padding-bottom: 50px;
    background: #20232a;
}

.accordion__title, .other-title {
    color: #2C3E50 !important;
}

@media screen and (max-width: 768px) {
    .howitworks-part {
        max-width: 70%;
    }

    .description {
        margin: 20px;
    }

    .rate-cotainer {
        margin: 50px;
    }

    .rate-info {
        width: 100%;
        height: 200px;
        float: none;
        text-align: left;
        border-radius: 0px;
        margin: 50px 0px 0px 0px;
        padding: 20px;
    }

    .pay-goods-container,
    .pay-services-container {
        width: 100%;
        height: 50%;
        clear: both;
    }

    .nav > li {
        text-align: center;
        width: 100%;
        margin: 10px 0px;
    }

    .navbar-fixed-top .navbar-collapse {
        height: 100vh;
        max-height: 100vh !important;
    }
}

@media screen and (max-width: 500px) {
    .home-card-box {
        border-radius: 50px;
        flex-direction: column;
    }

    .sign-button {
        margin-bottom: 20px;
    }

    .icons {
        background-size: contain;
    }

    .rate-cotainer {
        padding: 30px;
        margin: 20px;
    }

    .rate-info {
        color: #71CA99;
        padding-top: 20px;
        letter-spacing: normal;
    }

    .rate-info h2 {
        font-size: 60px;
        margin: 0px;
        padding: 0px;
    }

    .rate-info p {
        margin: 0px;
        font-size: 17px;
    }

    .contacts {
        margin: 10px;
    }

    .contact-info h5 {
        margin: 0px;
        font-size: 12px;
    }

    .contact-info p {
        margin: 0px;
    }
}