body{
      background-color: black;
    }

    #container{
      border: 1px solid;
      background-color: #FFFFFF;
      margin: auto;
      width: 414px;
            height: 736px;
    }

    #heading{
      margin-left: 53px;
      height: 33px;
      width: 183px;
      margin-bottom: 3px;
      margin-top: 53px;
    }

    #heading h2{
      color: rgba(44,62,80,0.75);
      font-size: 28px;
      font-family: Mallanna;
      font-weight: 600;
      letter-spacing: 0.35px;
      line-height: 33px;
      margin-top: -5px;
    }

    #instruction{
      margin-left: 53px;
      width: 301px;
      height: 63px;
      margin-bottom: 64px;
    }

    #instruction p{
            color: rgba(44,62,80,0.75);
            margin-top: 0;
            font-size: 20px;
            font-family: Mallanna;
            font-weight: 100;
            letter-spacing: 0.45px;
            line-height: 24px;
    }

    form{
      width: 317px;
      margin: auto;
    }

    input{
      outline: none;
      width: 317px;
      border: none;
      color: rgba(44,62,80,0.75);
      border-bottom: 2px solid #576D7A;
      height: 37px;
      font-size: 19px;
      letter-spacing: 0.38px;
      margin-bottom: 27px;
    }

    input:nth-child(2){
      margin-bottom: 111px;
    }

    input:nth-child(3){
      width: 260px;
      height: 50px;
      border:none;
      border-radius: 10px;
      background: linear-gradient(241.41deg, #9AE6CD 0%, #96E3C9 7.62%, #95E3C9 8.96%, #80D8B7 45.82%, #61C89E 100%);
      box-shadow: 3px 5px 15px 0 rgba(111,208,170,0.79);
      color: #FFFFFF;
      font-size: 14px;
      letter-spacing: 0.2px;
      margin-bottom: 0;
      margin-left: 29px;
    }