body{ 
    background-color: black;
  }

    #container{
      background-color: #FFFFFF;
      border:1px solid;
    width: 414px;
    height:736px;
    margin: auto;
    }

    #title{
      height: 33px;
      width: 317px;
      margin:auto;
            margin-top: 53px;
            margin-bottom: 75px;    
    }

    h1{
      margin-top: -14px;
      position: relative;
    font-size: 28px;  
    font-weight: 600;
    font-family: Mallanna;
    letter-spacing: 0.35px;
    color: #5F6D7A
    
    }

    #form{
      width:317px;
      margin: auto;
    }

    input{
      outline: none;
      width: 317px;
      height:39px;
      border: none;
      border-bottom: 2px solid #5F6D7A;
      margin-bottom: 38px;
      font-size: 20px;
      color: rgba(44,62,80,0.75);
      font-weight: 0;
      letter-spacing: 0.38px;
    }

    input:nth-child(3){
      margin-bottom:94px;
    }

    input:nth-child(4){
      width: 260px;
      height: 50px;
      font-size: 16px;
      border: none;
      margin-left: 28.5px;
      background: linear-gradient(241.41deg, #9AE6CD 0%, #96E3C9 7.62%, #95E3C9 8.96%, #80D8B7 45.82%, #61C89E 100%);
      box-shadow: 3px 5px 15px 0 rgba(111,208,170,0.79);
      margin-bottom: 36px;
      color: white;
      letter-spacing: 0.2px;
    }

    #word1{
      height:20px;
      width: 213px;
      margin: auto;
      font-size: 16px;
      margin-bottom: 67px;
    }

    #word1 p{
      margin-top: -5px;
      font-family: Mallanna;
      font-weight: 600;
      color: #5F6D7A;
      letter-spacing: 0.2px;
    }

    #word2{
      width: 366px;
      height: 48px;
      margin: auto;
    }

    #word2 p{
      margin-top: 0;
      font-family: Mallanna;
      font-weight: 300;
      color: #000000;
      letter-spacing: 0.2px;
      opacity: 0.5;
      font-size: 20px;
      text-align: center;
      line-height: 24px
    }
