#container{
  grid-template-rows: 600px;
  }

.container{
  grid-template-rows: 1fr 3fr 1fr 1fr;
}

.header{
  margin-bottom: 30px;
}

h2{
  font-size: 22px;
  color: rgba(44,62,80,0.75);
  font-weight: bold;
}

input:nth-child(1), input:nth-child(2){
  margin-bottom: 28px;
}

input:nth-child(3){
  margin-bottom: 60px;
}

.word{
  border: 1px solid #ffffff;
}

.word p{
  margin-top:0;
  text-align: center;
  color: #576D7A;
}

div:nth-child(4){
  font-weight: bold;
}