#container{
height: auto;
grid-template-rows: 600px;
}

.container{
grid-template-rows: 1fr 6fr;
}

#instruction{
border: 1px solid #ffffff;
margin-top: 81px;  /**21px **/
margin-bottom: -30px;
}

#instruction p{
font-size: 20px;
font-weight: 600;
opacity: 0.5;
letter-spacing: 0.25px;
text-align: center;
}