#container{ 
  grid-template-rows: 500px;	
  margin-top: 39px; 
}

.container{
  grid-template-rows: 1fr 3fr;    
}

.header{
  margin-bottom: 21px;
}

h2{
  font-size: 22px;
  color: rgba(44,62,80,0.75);
  font-weight: bold;
}

input:nth-child(1){
  margin-bottom: 19px;
}

input:nth-child(2){
  margin-bottom: 25px;
}

#forgot{
  float: right;
  font-family: "Mallanna";
      font-size: 14px;
      letter-spacing: 0.2px;
      color: #5F6D7A;
      text-decoration: none;
  font-weight: 600;
  margin-bottom: 32px;
}

#have-account{
  border: 1px solid #FFFFFF;
  width: 177px;   
      height: 30px;
      margin: auto; 
}

#have-account a{
      text-decoration: none;
      text-align: center;
      font-weight: 600;
      font-family: "Mallanna";
      font-size: 15px;
      letter-spacing: 0.2px;
      color: #5F6D7A;
}