#container{
height: auto;
grid-template-rows: 600px;
}

.container{
grid-template-rows: 1fr 1fr 3fr 1fr;
}

.header{
width: 80%;
margin: auto;
margin-bottom: 17px;
}

h2{
text-align: center;
font-size: 18px;
color: rgba(44,62,80,0.75);
font-weight: bold;
line-height: 24px;
    letter-spacing: 0.25px;
}

#details{
border: 1px solid #FFFFFF;
    width: 82%;
    margin: auto;
}

#details p{
   font-size: 16px;
   color: rgba(44,62,80,0.75);
   font-family: Mallanna;
   font-weight: 100;
   letter-spacing: 0.23px;
   line-height: 21px;
   text-align: center;
}

#price{
border: 1px solid #FFFFFF;
width: 100%;
margin: auto;
overflow: hidden;
margin-top: 30px;
}

#price ul{
list-style-type: none;
width: 100%;
height: 32px;
    border: none;
    border-bottom: 2px solid #5F6D7A;
    margin-left: -40px;
}

#price ul li{
display: inline;
}

#price ul li:nth-child(1){
color: rgba(44,62,80,0.75);
font-size: 17px;
font-family: Mallanna;
font-weight: 100;
letter-spacing: 0.38px;
line-height: 24px;
}

#price ul li:nth-child(2){
float: right;
color: #71CA99;
font-family: Mallanna;
font-size: 16px;
font-weight: 600;
letter-spacing: 0.23px;
line-height: 21px;
margin-right: 3px;
}

#button{
margin-top: -35px;
}

button{
background: linear-gradient(241.41deg,
 #9AE6CD 0%, #96E3C9 7.62%, #95E3C9 8.96%, #80D8B7 45.82%, #61C89E 100%);
box-shadow: 3px 5px 15px 0 rgba(111,208,170,0.79);
color: #FFFFFF;
font-weight: bold;
}
