body{
  background-color: #ffffff;
  font-family: Mallanna;
}

#container{
border: 1px solid #ffffff;
background-color: #ffffff;
width: 98%;
height: auto;
margin: auto;
display: grid;
grid-template-columns: 100%;
grid-template-rows: 600px;
font-family: Mallanna;
max-width: 414px;
}

.container{
border: 1px solid #ffffff;
width: 100%;
display: grid;
grid-template-columns: 100%;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.header{
border: 1px solid #ffffff;
width: 250px;
margin-top: 17px;  /**21px **/
}

h2{
font-size: 22px;
color: rgba(44,62,80,0.75);
font-weight: bold;
line-height: 24px;
  letter-spacing: 0.25px;
}

#instruction{
border: 1px solid #ffffff;
margin-top: -20px;
}

#instruction p{
font-size: 17px;
color: rgba(44,62,80,0.75);
}

.form{
border: 1px solid #ffffff;
  width: 64%;
margin: auto;
margin-top: 0px;
}

input{
border: none;
  border-bottom: 2px solid #5F6D7A;
  width: 16%;
  display: inline;
  margin-right: 10%;
  font-size: 28px;
  text-align: center;
  outline: none;
}

input:nth-child(4){
  margin-right: 0;
}

#verify{
  border: 1px solid #ffffff;
width: 70%;
margin: auto;
margin-top: 0px;
}

#verify button{
cursor: pointer;
width: 100%;
border: none;
height: 38px;
border-radius: 3px;
background: linear-gradient(241.41deg, #9AE6CD 0%, #96E3C9 7.62%, #95E3C9 8.96%, #80D8B7 45.82%, #61C89E 100%);
  box-shadow: 3px 5px 15px 0 rgba(111,208,170,0.79);
color: #FFFFFF;
font-weight: bold;
font-size: 14px;
}

#resend{
border: 1px solid #ffffff;
width: 70%;
margin: auto;
margin-top: -20px;
}

#resend button{
cursor: pointer;
width: 100%;
border: none;
height: 38px;
border-radius: 3px;
background-color: #ffffff;
color: rgba(44,62,80,0.75);
font-weight: bold;
font-size: 14px;
}

@media (min-width: 400px){
.header{
width: 100%;
margin: auto;
}

.header h2{
text-align: center;
}

#instruction{
width: 100%;
margin: auto;
margin-top: -20px;
}

#instruction p{
text-align: center;
}
}

@media (max-width: 320px){
input{
    border: none;
      border-bottom: 2px solid #5F6D7A;
      width: 15%;
      display: inline;
      margin-right: 11%;
      font-size: 28px;
      text-align: center;
      outline: none;
}

input:nth-child(4){
      margin-right: 0;
}
}
