#container{
grid-template-rows: 600px;
}

.container{
grid-template-rows: 1.5fr 3.5fr;
}

#content{
border: 1px solid #FFFFFF;
border-radius: 3px;
width: 100%;
box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
background-color: #FFFFFF;
}

#amount{
border: 1px solid #FFFFFF;
float: right;
width: 105px;
height: 21px;
margin-top: 40px;
margin-right: 10px;
}

#amount p{
margin-top: 0;
color: #71CA99;
font-size: 16px;
font-weight: 600;
letter-spacing: 0.23px;
line-height: 21px;
float: right;
}

#name{
border: 1px solid #FFFFFF;
width: 126px;
height: 21px;
margin-top: 26px;
margin-left: 10px;
}

#name p{
margin-top: 0;
color: rgba(44,62,80,0.75);
font-size: 16px;
font-weight: 600;
letter-spacing: 0.23px;
line-height: 21px;
}

#email{
border: 1px solid #FFFFFF;
width: 205px;
height: 21px;
margin-top: 3px;
margin-bottom: 51px;
margin-left: 10px;
}

#email p{
margin-top: 0;
color: rgba(44,62,80,0.75);
font-size: 16px;
font-weight: 100;
letter-spacing: 0.23px;
line-height: 21px;
}

#link{  
width: 224px;
height: 20px;
margin-left: 10px;
}

#link a{
outline: none;
color: rgba(44,62,80,0.75);
font-size: 14px;
font-weight: 600;
letter-spacing: 0.2px;
line-height: 20px;
font-family: "Mallanna";
}
