#container{
    grid-template-rows: 500px;
}

.container{
    grid-template-rows: 1fr 0.5fr 3fr;
}

h2{
font-size: 22px;
color: rgba(44,62,80,0.75);
font-weight: bold;
}

#instruction{
border: 1px solid #ffffff;
margin-bottom: 50px;
}

#instruction p{
font-size: 15px;
color: rgba(44,62,80,0.75);
margin-top: 0;
}

input:nth-child(1){
margin-bottom: 28px;
}

input:nth-child(2){
margin-bottom: 60px;
}