body{
            background-color: black;
            font-family: Mallanna;
    }

    #container{
      background-color: #FFFFFF;
            width: 414px;
            height: 736px;
            margin: auto;
            border: 1px solid #FFFFFF;
    }

    #heading{
      height: 66px;
      width: 260px;
      margin-left: 51px;
      margin-top: 53px;
    }

    #heading h2{
      color: rgba(44,62,80,0.75);
      font-size: 28px;
      font-weight: 600;
      letter-spacing: 0.35px;
      line-height: 33px;
      margin-top: 0px;
    }

    #instruction{
      width: 301px;
      height: 63px;
      width: 301px;
      margin: auto;
      margin-top: 15px;
    }

    #instruction p{
      color: rgba(44,62,80,0.75);
      font-size: 20px;
      font-weight: 100;
      letter-spacing: 0.45px;
      line-height: 24px;
      margin-top: 0;
    }

    #form{
      width: 317px;
      margin: auto;
      margin-top: 90px;
    }

    input{
      border: none;
      border-bottom: 2px solid #5F6D7A;
      width: 59px;
      display: inline;
      margin-right: 23px;
      font-size: 28px;
      text-align: center;
      outline: none;
    }

    input:nth-child(4){
      margin-right: 0;
    }

    #button{
      height: 50px;
      width: 260px;
      margin: auto;
      margin-top: 126px;
    }

    #button button{
      height: 50px;
      width: 260px;
      border: none;
      border-radius: 10px;
      background: linear-gradient(241.41deg, #9AE6CD 0%, #96E3C9 7.62%, #95E3C9 8.96%, #80D8B7 45.82%, #61C89E 100%);
      box-shadow: 3px 5px 15px 0 rgba(111,208,170,0.79);
      color: #FFFFFF;
      font-size: 16px;
      letter-spacing: 0.2px;
      line-height: 20px;
    }

    #resend{
      height: 20px;
      width: 200px;
      margin: auto;
            margin-top: 40px;
    }

    #resend button{
      color: #5F6D7A;
      border: none;
      background-color: #FFFFFF;
      height: 20px;
      width: 200px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.2px;
      line-height: 20px;
    }
