.ol {
    margin-top: 30px;
    line-height: 30px;
    margin-left: 20px;
    font-weight: 200;
}

.ol {
    list-style: none;
    counter-reset: item;
}

.ol li {
    counter-increment: item;
    margin-bottom: 5px;
}

.ol li:before {
    margin-right: 10px;
    content: counter(item);
    background: #fff;
    border-radius: 100%;
    color: rgb(113, 202, 153);
    ;
    width: 30px;
    text-align: center;
    display: inline-block;
}

.intro {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.noPad {
    padding: 0px;
    margin: 0px;
}

.image-holder {
    width: 100%;
    min-height: 450px;
    background-image: url('../assets/construct.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.intro-content-container {
    width: 100%;
    min-height: 500px;
    background-color: rgba(0, 0, 0, 0.60);
    color: #fff;
    padding: 40px 60px;
}

.heading {
    font-size: 16px;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}

.heading h1 {
    margin-left: 20px;
    font-size: 18px;
}

.warning {
    font-size: 18px;
    margin-bottom: 40px;
}

.about p {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
}

.sign-buttons {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.sign-button {
    height: 50px;
    width: 200px;
    font-size: 18px;
    line-height: 50px;
    background-color: transparent;
    border: 1px solid #fff;
    margin-right: 15px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
}

.sign-button:hover {
    background-color: #fff;
    color: #71CA99;
}

.signIn {
    background-color: #fff;
    color: #6FB28D;
}

.rate-cotainer {
    padding: 50px 0px;
}

.rate-info {
    width: 300px;
    height: 300px;
    float: right;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    color: #71CA99;
    font-weight: bold;
    padding: 40px 20px 20px 20px;
    letter-spacing: 1.5px;
    margin-top: -50px;
}

.rate-info>p {
    font-weight: 200;
}

.rate-info p.trans {
    font-size: 12px;
}

.rate-info h2 {
    font-size: 80px;
    margin: 0px;
    padding: 0px;
}

.rate-info p {
    margin: 0px;
    font-size: 20px;
}

.pay-goods-container {
    width: 50%;
    background-color: #82D0A5;
    color: #fff;
    float: left;
}

.pay-goods {
    width: 80%;
    padding: 30px 0px 30px 20px;
    font-size: 16px;
    margin: auto;
}

.pay-goods p {
    margin: 0px;
    font-size: 25px;
}

.pay-services-container {
    width: 50%;
    background-color: rgba(111, 180, 170, 1);
    color: #fff;
    float: left;
}

.pay-services {
    width: 80%;
    padding: 30px 0px 30px 20px;
    font-size: 16px;
    margin: auto;
}

.pay-services p {
    margin: 0px;
    font-size: 25px;
}

.contacts {
    background-color: #fff;
    margin: 50px 0px;
}

.icons {
    width: 100%;
    height: 50px;
    background-image: url(../assets/cards.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 15px;
}

.contact-info {
    margin: 15px;
    max-height: 100px;
    text-align: left;
    color: #2C3E50;
}

.contact-info h5 {
    margin: 0px;
    font-weight: bold;
    font-size: 12px;
}

.contact-info p {
    font-size: 18px;
    font-weight: 200;
}


@media screen and (max-width: 768px) {
    .description {
        margin: 20px;
    }

    .rate-cotainer {
        margin: 50px;
    }

    .rate-info {
        width: 100%;
        height: 200px;
        float: none;
        text-align: left;
        border-radius: 0px;
        margin: 50px 0px 0px 0px;
        padding: 20px;
    }

    .pay-goods-container,
    .pay-services-container {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .intro-content-container {
        padding: 10px;
    }

    .sign-button {
        margin-bottom: 20px;
    }

    .icons {
        background-size: contain;
    }

    .rate-cotainer {
        padding: 30px;
        margin: 20px;
    }

    .rate-info {
        color: #71CA99;
        padding-top: 20px;
        letter-spacing: normal;
    }

    .rate-info h2 {
        font-size: 60px;
        margin: 0px;
        padding: 0px;
    }

    .rate-info p {
        margin: 0px;
        font-size: 17px;
    }

    .contacts {
        margin: 10px;
    }

    .contact-info h5 {
        margin: 0px;
        font-size: 12px;
    }

    .contact-info p {
        margin: 0px;
    }
}