* {
  font-family: 'Karla', sans-serif;
}

body{
  background-color: #F1F1F1;
  font-family: 'Karla', sans-serif;
}

section {
  padding-top: 80px;
}

ol, ul {
  padding: 0px;
  margin: 0px;
}

.navbar-default {
  background-color: #82D0A5 !important;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
  color: #fff !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: rgba(0,0,0, 0.3) !important;
}

.form-error {
  color: red;
  text-align: center;
}

input{
  outline: none;
  border: none;
  letter-spacing: 0.38px;
}

.text-input{
  border-bottom: 2px solid #576D7A;
  width: 100%;
  height: 32px;
  font-size: 16px;
}

.text-submit{
  border:none;
  cursor: pointer;
  width: 200px;
  height: 40px;
  margin: 0px auto;
  border-radius: 3px;
  background: linear-gradient(241.41deg, #9AE6CD 0%, #96E3C9 7.62%, #95E3C9 8.96%, #80D8B7 45.82%, #61C89E 100%);
  box-shadow: 3px 5px 15px 0 rgba(111,208,170,0.79);
  color: #FFFFFF;
  font-weight: bold;
  display: block;
  margin-bottom: 21px;
}

.pbtn {
  display: inline-block;
  padding: 8px 15px;
  border:none;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(241.41deg, #9AE6CD 0%, #96E3C9 7.62%, #95E3C9 8.96%, #80D8B7 45.82%, #61C89E 100%);
  box-shadow: 3px 5px 15px 0 rgba(111,208,170,0.79);
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 21px;
}

.section-title {
  margin: 20px 0px;
  text-align: center;
  margin-bottom: 50px;
}

.milestones li {
  margin-bottom: 50px;
}

.form-buttons {
  padding-top: 50px;
}

form {
  display: table;
}